/* DataTableDemo.css */

.codigo-body-value,
.data-body-value,
.prioridade-body-value,
.nivel-body-value,
.status-body-value,
.descricao-body-value {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.p-datatable-loading-overlay {
  margin-top: 166px;
  background-color: transparent;
}

.p-datepicker-buttonbar button:first-child {
  display: none;
}

.p-multiselect-header {
  display: none;
}

.p-paginator .p-paginator-current {
  margin-left: auto;
}

.p-progressbar {
  height: 0.5rem;
  background-color: #d8dadc;
}

.p-progressbar .p-progressbar-value {
  background-color: #607d8b;
}

.p-card .p-card-content {
  padding: 0px;
}

.p-card .p-card-body {
  padding: 0px;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.table-header .p-inputtext {
  width: 300px;
}

.p-datepicker {
  min-width: 25rem;
}

.p-datepicker td {
  font-weight: 400;
}

.p-datatable.p-datatable-sm .p-datatable-header {
  padding: 1rem;
  font-size: 1.5rem;
}

.p-datatable.p-datatable-sm .p-paginator {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  padding: 0 0 10px 0;
}

.p-datatable.p-datatable-sm .p-paginator-bottom {
  border-bottom: 0;
  border-radius: 10px;
}

.p-datatable.p-datatable-sm .p-datatable-thead tr:first-child th {
  text-align: center;
}

.p-datatable.p-datatable-sm .p-datatable-thead:first-child th:first-child {
  width: 90px;
}

.p-datatable.p-datatable-sm .p-datatable-thead:first-child th:nth-child(2) {
  width: 120px;
}

.p-datatable.p-datatable-sm .p-datatable-thead:first-child th:nth-child(4) {
  width: 240px;
}

.p-datatable.p-datatable-sm .p-datatable-thead:first-child th:nth-child(5) {
  width: 165px;
}

.p-datatable.p-datatable-sm .p-datatable-thead:first-child th:nth-child(6) {
  width: 140px;
}

.p-datatable.p-datatable-sm .p-datatable-thead:first-child th:nth-child(7) {
  width: 200px;
}

.p-datatable.p-datatable-sm .p-datatable-thead input {
  width: 100%;
}

.p-datatable.p-datatable-sm .p-datatable-thead .p-filter-column .p-dropdown {
  width: 100%;
}

.p-datatable.p-datatable-sm .p-datatable-thead .p-filter-column .p-multiselect {
  width: 100%;
}

.p-datatable.p-datatable-sm .p-datatable-tbody td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.p-datatable.p-datatable-sm .p-datatable-tbody .p-datatable-emptymessage td {
  text-align: center;
  padding: 20px;
  color: gray;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  cursor: auto;
}

.status-badge {
  margin-left: auto;
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.status-em-aberto {
  background-color: #ffcdd2;
  color: #c63737;
}

.status-em-atendimento {
  background-color: #ffd8b2;
  color: #805b36;
}

.status-finalizado {
  background-color: #c8e6c9;
  color: #256029;
}

.p-datatable-sm .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}
